##### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). 

* the top spender is Lisosia93 with a total spend of 18.00. 

* the most popular item is Oathbreaker, Last Hope of the Breaking Storm, with a price tag of 4.23. the least popular item is the Decapitator.

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Numberofplayers= [purchase_data["SN"].nunique()]
Numberofplayers=pd.DataFrame(Numberofplayers, columns = ['Total Players'])
Numberofplayers

   Total Players
0            576

In [3]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
purchase_data[['Price','SN']].head(10)

   Price             SN
0   3.53        Lisim78
1   1.56    Lisovynya38
2   4.88     Ithergue48
3   3.27  Chamassasya86
4   1.44      Iskosia90
5   3.61        Yalae81
6   2.18      Itheria73
7   2.67    Iskjaskst81
8   1.10      Undjask33
9   3.58    Chanosian48

In [5]:
purchase_summary = {
    'Average Price': [purchase_data["Price"].mean()],
    'Total Revenue':[ purchase_data["Price"].sum()],
    'Unique Products':[purchase_data["Item ID"].nunique()],
    'Number of Purchases':[purchase_data["Purchase ID"].nunique()],
    'Total Players':[purchase_data["SN"].nunique()]}
purchase_summary

{'Average Price': [3.050987179487176],
 'Total Revenue': [2379.77],
 'Unique Products': [183],
 'Number of Purchases': [780],
 'Total Players': [576]}

In [6]:
purchase_summary = pd.DataFrame(purchase_summary, columns = ['Average Price', 'Total Revenue', 'Unique Products', 'Number of Purchases','Total Players'])
purchase_summary

,Average Price,Total Revenue,Unique Products,Number of Purchases,Total Players
0,3.050987,2379.77,183,780,576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_demo= pd.DataFrame(purchase_data)
gender_demo= gender_demo.groupby('Gender')['Purchase ID'].count()
gender_demo.count()
gender_demo.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [8]:
gender_demo_df= pd.DataFrame(gender_demo)
gender_demo_df.head()

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [9]:
gender_demo_df['percentage'] = gender_demo_df['Purchase ID']/gender_demo_df['Purchase ID'].sum()
gender_demo_df

                       Purchase ID  percentage
Gender
Female                         113    0.144872
Male                           652    0.835897
Other / Non-Disclosed           15    0.019231

In [10]:
gender_demo_df.rename(columns={'Purchase ID': 'Counts','percentage': 'Percentage'}, inplace=True)

In [11]:
gender_summary = gender_demo_df.to_html(formatters={
    'Counts':'{:,.0f}'.format,
    'Percentage':'{:,.2%}'.format
})
display(HTML(gender_summary))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
grp_purchase=purchase_data.groupby(["Gender"])
print(grp_purchase)
grp_purchase.count().head()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x1183c9160>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [13]:
purchase_count= purchase_data["Gender"].value_counts()
purchase_count.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
avg_purchase_price = purchase_data["Price"].mean()
avg_purchase_price

3.050987179487176

In [15]:
avg_inv_price= grp_purchase['Price'].sum()/grp_purchase["SN"].nunique()
avg_inv_price

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
total_value= grp_purchase['Price'].sum()
total_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
purchase_summary=pd.DataFrame({"Purchase Count":purchase_count,
                            "Average Purchase Price":avg_purchase_price,
                              "Total Purchase Value":total_value,
                                "Avg Total Purchase per Person":avg_inv_price})

In [18]:
purchase_summary = purchase_summary.to_html(formatters={
    'Purchase Count':'{:,.0f}'.format,
    'Average Purchase Price':'${:,.2f}'.format,
     'Total Purchase Value':'${:,.2f}'.format,
    'Avg Total Purchase per Person':'${:,.2f}'.format,
})
display(HTML(purchase_summary))

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
age_bins= pd.DataFrame(purchase_data)
age_bins.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
age_bins.groupby(["SN", "Age"]).size().reset_index(name='count')

                  SN  Age  count
0       Adairialis76   16      1
1        Adastirin33   35      1
2             Aeda94   17      1
3             Aela59   21      1
4          Aelaria33   23      1
5       Aelastirin39   23      2
6          Aelidru27   22      1
7            Aelin32   20      3
8            Aelly27   24      2
9         Aellynun67   25      1
10        Aellyria80   23      1
11         Aelollo59   33      2
12         Aenarap34   21      1
13           Aeral43   24      1
14           Aeral68   43      1
15           Aeral97   23      1
16        Aeralria27   10      1
17     Aeralstical35   20      1
18            Aeri84   24      1
19      Aerillorin70   16      1
20     Aerithllora36   29      2
21     Aerithnucal56   15      1
22    Aerithnuphos61   39      1
23   Aerithriaphos45   20      1
24   Aerithriaphos46   16      1
25           Aesri53   31      1
26           Aesty53   21      2
27         Aestysu37   25      2
28           Aesur96   23      1
29     Aesurstilis64   25      1
..               ...  ...    ...
546        Undosia27   17      1
547       Undosian34   21      2
548      Undotesta33   18      1
549         Wailin72   21      1
550        Yadacal26   15      2
551      Yadaisuir65   20      1
552          Yadam35   28      1
553         Yadanu52   34      1
554       Yadaphos40   30      2
555          Yalae81   22      2
556       Yalaeria91   33      1
557         Yaliru88   19      1
558           Yalo85   34      1
559    Yalostiphos68   29      1
560           Yana46   20      1
561   Yarithllodeu72   22      1
562     Yarithrgue83   20      1
563      Yarithrin84   30      1
564   Yarithsurgue62   26      1
565       Yarolwen77   30      1
566        Yasrisu92   27      1
567   Yastyriaphos75   22      1
568          Yasur35   26      1
569          Yasur85   21      1
570       Yathecal72   20      1
571       Yathecal82   20      3
572       Yathedeu43   22      2
573    Yoishirrala98   17      1
574       Zhisrisu83   10      2
575        Zontibe81   21      3

[576 rows x 3 columns]

In [21]:
# Create bins in which to place values based upon TED Talk views
bins = [0,9.9,14.9, 19.9, 24.9,29.9,34.9,39.9,45]

In [22]:

# Create labels for these bins
group_labels = ["< 10", "10 to 14","15 to 19", "20 to 24",
                "25 to 29", "30 to 34","35 to 39", "40+"]

In [23]:
age_group=pd.DataFrame(age_bins.groupby(["SN", "Age"]).size().reset_index(name='count'))
age_group.head()

             SN  Age  count
0  Adairialis76   16      1
1   Adastirin33   35      1
2        Aeda94   17      1
3        Aela59   21      1
4     Aelaria33   23      1

In [24]:
pd.cut(age_group["Age"], bins, labels=group_labels).head()

0    15 to 19
1    35 to 39
2    15 to 19
3    20 to 24
4    20 to 24
Name: Age, dtype: category
Categories (8, object): [< 10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [25]:
age_group["Age Bins"] = pd.cut(age_bins["Age"], bins, labels=group_labels)
age_group.head(10)

             SN  Age  count  Age Bins
0  Adairialis76   16      1  20 to 24
1   Adastirin33   35      1       40+
2        Aeda94   17      1  20 to 24
3        Aela59   21      1  20 to 24
4     Aelaria33   23      1  20 to 24
5  Aelastirin39   23      2  20 to 24
6     Aelidru27   22      1  35 to 39
7       Aelin32   20      3  20 to 24
8       Aelly27   24      2  20 to 24
9    Aellynun67   25      1  35 to 39

In [26]:
# Create a GroupBy object based upon "View Group"
age_group_df = age_group.groupby("Age Bins")

type(age_group_df)

pandas.core.groupby.groupby.DataFrameGroupBy

In [27]:
age_summary= age_group_df[["count"]].count()
age_summary

          count
Age Bins
< 10         15
10 to 14     23
15 to 19     98
20 to 24    274
25 to 29     73
30 to 34     56
35 to 39     28
40+           9

In [28]:
age_percent= age_summary["count"]/age_summary["count"].sum()
age_summary['age_percent']= age_percent
age_summary.style.format({"age_percent":'{:,.2%}'.format})
age_summary.rename(columns={'count': 'Counts','age_percent': 'Percentage'}, inplace=True)

In [29]:
age_summary = age_summary.to_html(formatters={
    'Counts':'{:,.0f}'.format,
    'Percentage':'{:,.2%}'.format
})
display(HTML(age_summary))









## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
purchase_age= pd.DataFrame(purchase_data)
purchase_age.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
bins_p = [0,9.9,14.9, 19.9, 24.9,29.9,34.9,39.9,45]
age_labels = ["< 10", "10 to 14","15 to 19","20 to 24",
                "25 to 29", "30 to 34","35 to 39", "40+"]

In [32]:
pd.cut(purchase_age["Age"], bins, labels=group_labels).head(10)

0    20 to 24
1         40+
2    20 to 24
3    20 to 24
4    20 to 24
5    20 to 24
6    35 to 39
7    20 to 24
8    20 to 24
9    35 to 39
Name: Age, dtype: category
Categories (8, object): [< 10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [33]:
purchase_age["Age_Bins"] = pd.cut(purchase_age["Age"], bins, labels=group_labels)
purchase_age

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20 to 24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35 to 39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20 to 24
8,8,Undjask33,22,Male,21,Souleater,1.10,20 to 24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35 to 39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20 to 24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20 to 24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20 to 24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20 to 24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35 to 39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20 to 24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20 to 24
17,17,Zontibe81,21,Male,161,Devine,1.76,20 to 24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20 to 24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30 to 34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20 to 24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20 to 24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35 to 39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30 to 34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25 to 29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10 to 14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,< 10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20 to 24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20 to 24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20 to 24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10 to 14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15 to 19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35 to 39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20 to 24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10 to 14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20 to 24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15 to 19
758,758,Iral74,21,Male,182,Toothpick,4.03,20 to 24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25 to 29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20 to 24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25 to 29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20 to 24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15 to 19
765,765,Irith83,18,Male,130,Alpha,2.07,15 to 19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20 to 24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,< 10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35 to 39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15 to 19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30 to 34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15 to 19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25 to 29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20 to 24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10 to 14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,101,Final Critic,4.19,< 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [34]:
grouped_purchase_age = purchase_age.groupby("Age_Bins")
grouped_purchase_age

In [35]:
purchase_count_age= grouped_purchase_age["Purchase ID"].count()

In [36]:
avg_purchase_price_age = grouped_purchase_age["Price"].mean()

In [37]:
avg_inv_price_age= grouped_purchase_age['Price'].sum()/grouped_purchase_age["SN"].nunique()

In [38]:
total_value_age= grouped_purchase_age['Price'].sum()

In [39]:
purchase_age_df=pd.DataFrame({"Purchase Count Age":purchase_count_age,
                             "Avg Purchase Age Price":avg_purchase_price_age,
                              "Total Purchase":total_value_age,
                                "Avg Total per Person":avg_inv_price_age})

In [40]:
purchase_age_summary = purchase_age_df.to_html(formatters={
    'Purchase Count Age':'{:,.0f}'.format,
    'Avg Purchase Age Price':'${:,.2f}'.format,
     'Total Purchase':'${:,.2f}'.format,
    'Avg Total per Person':'${:,.2f}'.format,
})
display(HTML(purchase_age_summary))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
top_spender=purchase_data.groupby(["SN"])
print(top_spender)
top_spender.count().head()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x1194d1cc0>

              Purchase ID  Age  Gender  Item ID  Item Name  Price  Age_Bins
SN
Adairialis76            1    1       1        1          1      1         1
Adastirin33             1    1       1        1          1      1         1
Aeda94                  1    1       1        1          1      1         1
Aela59                  1    1       1        1          1      1         1
Aelaria33               1    1       1        1          1      1         1

In [42]:
count_spend= top_spender["SN"].count()

In [43]:
avg_price_spend = top_spender["Price"].mean()

In [44]:
total_spend= top_spender['Price'].sum()

In [45]:
spenders_summary=pd.DataFrame({"Purchase Count":count_spend,
                            "Average Purchase Price":avg_price_spend,
                              "Total Purchase Value":total_spend})

In [46]:
spenders_summary_asc=spenders_summary.sort_values(["Total Purchase Value"],ascending=False)
spenders_summary_asc.head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Idastidru52                4                3.862500                 15.45
Chamjask73                 3                4.610000                 13.83
Iral74                     4                3.405000                 13.62
Iskadarya95                3                4.366667                 13.10
Ilarin91                   3                4.233333                 12.70
Ialallo29                  3                3.946667                 11.84
Tyidaim51                  3                3.943333                 11.83
Lassilsala30               3                3.836667                 11.51
Chadolyla44                3                3.820000                 11.46

In [47]:
spender_top10=pd.DataFrame(spenders_summary_asc.head(10))
spender_top10.count()

Purchase Count            10
Average Purchase Price    10
Total Purchase Value      10
dtype: int64

In [48]:
spender_top10 = spender_top10.to_html(formatters={
    'Purchase Count':'{:,.0f}'.format,
    'Average Purchase Price':'${:,.2f}'.format,
     'Total Purchase Value':'${:,.2f}'.format})
display(HTML(spender_top10))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
pop_columns = purchase_data[["Item ID", "Item Name", "Price"]]
pop_columns.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [50]:
pop_item=pop_columns.groupby(["Item ID","Item Name"])
print(pop_item)
pop_item.count().head()

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x1194f0a90>

                            Price
Item ID Item Name
0       Splinter                4
1       Crucifer                3
2       Verdict                 6
3       Phantomlight            6
4       Bloodlord's Fetish      5

In [51]:
count_items= pop_item["Price"].count()

In [52]:
avg_price_item = pop_item["Price"].mean()

In [53]:
total_items=pop_item['Price'].sum()

In [54]:
items_summary=pd.DataFrame({"Purchase Count":count_items,
                            "Average Purchase Price":avg_price_item,
                              "Total Purchase Value":total_items})

In [55]:
items_summary.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50

In [56]:
items_summary=items_summary.sort_values(["Purchase Count"],ascending=False)
items_summary.head(20)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
103,Singed Scalpel,8,4.35,34.80
75,Brutality Ivory Warmace,8,2.42,19.36
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
59,"Lightning, Etcher of the King",8,4.23,33.84
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
34,Retribution Axe,8,2.22,17.76
92,Final Critic,8,4.88,39.04
53,Vengeance Cleaver,7,2.05,14.35
110,Suspension,7,1.44,10.08
7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
71,Demise,7,1.61,11.27
117,"Heartstriker, Legacy of the Light",7,1.79,12.53
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
85,Malificent Bag,7,1.75,12.25

In [57]:
pop_top20=pd.DataFrame(items_summary.head(20))
pop_top20.count()

Purchase Count            20
Average Purchase Price    20
Total Purchase Value      20
dtype: int64

In [58]:
pop_summary = pop_top20.to_html(formatters={
    'Purchase Count':'{:,.0f}'.format,
    'Average Purchase Price':'${:,.2f}'.format,
     'Total Purchase Value':'${:,.2f}'.format})
display(HTML(pop_summary))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [59]:
items_summary=items_summary.sort_values(["Total Purchase Value"],ascending=False)
items_summary.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32

In [60]:
items_summary = items_summary.to_html(formatters={
    'Purchase Count':'{:,.0f}'.format,
    'Average Purchase Price':'${:,.2f}'.format,
     'Total Purchase Value':'${:,.2f}'.format})
display(HTML(items_summary))